*{
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transform: all 2s linear;
}
.header home{
    background-color: white;
    color: black;
}
::selection{
    background: yellow;
    color: black;
}
html{
    font-size: 62.5;
    overflow: hidden;

}
body{
    background: #111;
    overflow-x: hidden;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100;
    width: 35rem;
    background: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}
header .user img{
    height: 30rem;
    width: 20rrem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: 1rem solid yellow;
}
header .user .name{
    font-size: 2.5rem;
    color: #fff;
}
header .user .post{
    font-size: 1.5rem;
    color: #eee
}

header .nav-bar{
    width: 100;
}
header .nav-bar ul{
    list-style: none;
    padding: 1rem 3rem;

}
    header .nav-bar ul li a{
        display: block;
        padding: 0.8rem;
        margin: 1.5rem 0;
        background: #333;
        color: white;
        font-size: 15px;
        border-radius: 50px;
    }
    header .nav-bar ul li a:hover{
        background: #ffaa00;
        color: black;

    }
    section{
        min-height: 100vh;
        padding: 1rem;
        margin: 35rem;

    }
.home{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;

}
.home h3{
    font-size: 2.5;
    color: #fff;

}
.home h1{
    font-size: 5rem;
    color: #fff;

}
.home h2{
    font-size: 2rem;
    color: #fff;
    padding: 1rem;

}
.btn{
    padding: .7rem 3rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    width: 0.5rem;
    height: 6rem;
    border-radius: 5rem;

}
.btn i{
    padding: 0.5rem;
    font-size: 1,8;
}
.btn:hover{
    background: #ffaa00;
    color: #111;
    width: 30rem;
}
section p{
    color: #eee;
    font-weight: 600;
}